<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf='showUserForm'>
  <h2>Add User</h2>
  <form #userForm="ngForm"(ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input type="text"
       [(ngModel)]="user.firstName"
       [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}" 
       class="form-control" 
       name="firstName"
       #userFirstName="ngModel"
       required
       minlength="2">
       
    <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
      First name required
    </div>

    <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
      Must be atleast two characters
    </div>
    </div>
    
 <div class="form-group">
   <label>Last Name</label>
   <input type="text"
   [(ngModel)]="user.lastName"
   [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}" 
   class="form-control" 
   name="lastName"
   #userLastName="ngModel"
   required
   minlength="2">
   
<div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
  Last name required
</div>

<div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
  Must be atleast two characters
</div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="user.email" class="form-control" name="age">
  </div>
  <button [disabled]="!userForm.form.valid" class="btn btn-light btn-block mb-3" [ngClass]="currentClasses"> Add New User</button>
  </form>
</div>


<ul class="list-unstyled" *ngIf="users.length > 0 ;else noUsers">
  <li class="card card-body mb-3" *ngFor="let user of users" [class.bg-light]="user.isActive">

    <!-- <img class="img-fluid" [src]="user.image" alt=""> -->
    <!-- <img class="img-fluid" src="{{user.image}}" alt=""> -->
    <!-- <img class="img-fluid" bind-src="user.image" alt=""> -->
    <h3 [ngStyle]='currentStyles'>{{user.firstName }} {{user.lastName}} <small><button class="btn btn-dark btn-sm" (click)="toggleHide(user)"> <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i> </button ></small></h3>
    <ul class="list-group" *ngIf="!user.hide && user.email">
      <li class="list-group-item">Age :{{user.email}}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="users.length < 0 "> Users not found</h4>